<IfModule LiteSpeed>
  CacheLookup off
  StaticCache off
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|json|html|wasm)$">
    Header always set Cache-Control "no-cache, no-store, must-revalidate"
    Header always set Pragma "no-cache"
    Header always set Expires "0"
  </FilesMatch>

  <FilesMatch "\.(png|jpg|jpeg|ico|woff2|ttf|svg)$">
    Header set Cache-Control "max-age=86400"
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
